.header{
    float: inherit;
}
.container{
    width: 80%;
    margin: auto;
    clear: both;
    display: table;
}
.logo{
    float: left;
}
.users{
    float: right;
}
.logo h1{
    text-transform: uppercase;
    color: red;
    font-family: Arial;
}
.logo span{
    color: #cecece;
    font-size: 10px;
}
.login{
    background: transparent;
    border: none;
    text-transform: uppercase;
}
.contact{
    background: red;
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 10px 15px;
}
.navbar{
    background: black;
    width: 100%;
    margin: auto;
}
.activ{
    background: red;
}
.h2{
    font-family: Arial;
    color: black;
}
.menu li{
    float: left;
    color: white;
    text-transform: uppercase;
    list-style-type:none;
    padding: 10px;
}
.content{
    width: 58%;
    margin: auto;
}
.h3{
    text-transform: uppercase;
    color: red;
    font-family: Arial;
    padding: 45px 0px 0px 30px;
}
.Gal li{
    float: left;
    list-style-type:none;
}
